<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wafer Fault Detection</title>
    <!-- Normalize CSS for consistency -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <!-- Upload Form Section -->
    <form action="/predict" method="post" enctype="multipart/form-data">
        <h1 class="title">Upload CSV for the Prediction</h1>

        <div class="frame">
            <div class="center">
                <h1 class="title">Drop file to upload</h1>
            </div>

            <!-- Dropzone for File Upload -->
            <label class="dropzone">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" alt="Upload Icon">
                <input type="file" class="upload-input" name="file" accept=".csv">
            </label>

            <!-- Upload Button -->
            <button type="submit" class="btn" name="uploadButton">Upload File</button>
        </div>
    </form>

    <!-- JavaScript Section -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>

 
       